# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1

# Azure Credentials
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=

# GCP Credentials
GCP_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=

# LLM Providers API Keys
GROQ_API_KEY=
GEMINI_API_KEY=
